{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "resource_tags": $TAGS,
  "prefix": $PREFIX,
  "resource_group_name": $PREFIX,
  "existing_kms_instance_crn": $HPCS_US_SOUTH_CRN,
  "create_timeout": "5h"
}
