{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "resource_tags": $TAGS,
  "prefix": $PREFIX,
  "resource_group_name": $PREFIX,
  "existing_kms_instance_guid": $HPCS_US_SOUTH_GUID,
  "existing_kms_key_crn": $HPCS_US_SOUTH_ROOT_KEY_CRN
}
