{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "resource_tags": $TAGS,
  "prefix": $PREFIX,
  "existing_resource_group_name": "geretain-test-event-streams",
  "existing_kms_key_crn": $KP_US_SOUTH_KEY_CRN,
  "create_timeout": "6h"
}
